<section class="content_box">
    <h2 class="title">
      Xem lịch chiếu theo phim
    </h2>
    <div class="content">
      <div class="search">
          <span>Tìm kiếm :</span>
          <input class="search_bar"  placeholder="Nhập tên phim..." (keyup)="TimKiemPhim($event)" />
      </div>
      <div class="data_table">
          <table class="table table-bordered table-striped table-sm">
              <thead>
                  <tr class="text-center">
                      <th>STT</th>
                      <th class="text-left">Tên phim</th>
                      <th>Hình ảnh</th>
                      <th>Mã phim</th>
                      <th>Ngày khởi chiếu</th>
                      <th>Thao tác</th>
                    </tr>
              </thead>
              <tbody>
                  <tr class="text-center"
                  *ngFor="let phim of DS_Phim | paginate: { itemsPerPage: itemsPerPage, currentPage: page}; let i = index"
                  [index] = "GetAbsoluteIndex(i,page)"
                  [phim]="phim"
                  app-phim-lc
                    ></tr>
              </tbody>
            </table>
            <pagination-controls class="pagination_cus"
            (pageChange)="page = $event"
            autoHide="true"
            ></pagination-controls>
      </div>
    </div>
  </section>