<div class="poster">
  <img [src]="PhimChiTiet.HinhAnh" alt="">
  <div class="detail">
    <div class="detail_phim">
      <div class="detail_phim_img">
        <img [src]="PhimChiTiet.HinhAnh" alt="">
      </div>
      <div class="detail_phim_info">
        <span>{{ PhimChiTiet.NgayKhoiChieu | date: 'dd/MM/yyyy' }}</span>
        <h1>{{ PhimChiTiet.TenPhim }}</h1>
        <p>{{ PhimChiTiet.LichChieu[0].ThoiLuong }} phút</p>
        <span id="star" *ngFor="let dummy of ' '.repeat(PhimChiTiet.DanhGia).split(''), let x = index">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <button mat-raised-button  color="warn">MUA VÉ</button>
      </div>
    </div>
    <div class="rate">
      <iframe #iTrailer width="100%" height="100%" [src]="PhimChiTiet.Trailer | youtubeE | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    </div>
  </div>
  <!-- info -->
  <div class="mainInfo">
    <ul class="mainInfo_list">
      <li><a (click)="getKey('time')" [ngClass]="{'active': status == 'time'}">Lịch chiếu</a></li>
      <li><a (click)="getKey('info')" [ngClass]="{'active': status == 'info'}">Thông tin</a></li>
      <li><a (click)="getKey('comment')" [ngClass]="{'active': status == 'comment'}">Đánh giá</a></li>
    </ul>
    <div class="lichChieu">
      <mat-tab-group *ngIf="status == 'time' ">
        <ng-container *ngFor="let ngayChieu of PhimChiTiet.LichChieu;let stt=index">
          <mat-tab [label]="ngayChieu.NgayChieuGioChieu | date: 'EEEE dd/MM'">
            <div class="gioChieu">
              <button mat-stroked-button color="warn" 
              (click)="getPhongVe(stt)">{{ ngayChieu.NgayChieuGioChieu | date: 'h:mm' }}</button>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</div>
