$color-white:white;
$color-black:black;
$color-gray-0:#e6e6e6;
$color-gray-1:#a6a6a6;
$color-gray-2:#737373;
$color-gray-3:#4d4d4d;
$color-gray-4:#202938;
$color-gray-5:#12141C;
$color-orange-0:#F26C4F;
$color-orange-1:#F44336;
$color-dark-blue:#020312;
$fs-0:16px;
$fs-1:25px;
$fs-2:40px;


$fw-normal:normal;
$fw-600:600;
$fw-bold:bold;
$fw-900:900;