<div id="fromAdmin" class="modal fade"  data-keyboard="false" data-backdrop="static" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cập nhật admin</h4>
      </div>
      <form [formGroup]="Form_admin" (ngSubmit)="CapNhat()">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Tài khoản</label>
            <input type="text" readonly class="form-control" placeholder="Tài khoản" formControlName="TaiKhoan" >
          </div>
          <div class="form-group">
            <label for="">Mật khẩu </label>
            <input type="password" autocomplete="passowrd" class="form-control" placeholder="Mật khẩu" formControlName="MatKhau" >
            <div class="error" *ngIf="f().MatKhau.errors && (f().MatKhau.touched || f().MatKhau.dirty)">
              <span *ngIf="f().MatKhau.errors.required">Vui lòng nhập mật khẩu</span>
              <span *ngIf="f().MatKhau.errors.minlength">Mật khẩu từ {{f().MatKhau.errors.minlength.requiredLength}} kí tự trở lên</span>
              <span *ngIf="f().MatKhau.errors.pattern && !f().MatKhau.errors.minlength">Mật khẩu không chứa khoảng trống</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Họ tên</label>
            <input type="text" class="form-control" placeholder="Họ tên" formControlName="HoTen" >
            <div class="error" *ngIf="f().HoTen.errors && (f().HoTen.touched || f().HoTen.dirty)">
              <span *ngIf="f().HoTen.errors.required">Vui lòng nhập họ tên</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" placeholder="Email" formControlName="Email">
            <div class="error" *ngIf="f().Email.errors && (f().Email.touched || f().Email.dirty)">
              <span *ngIf="f().Email.errors.required">Vui lòng nhập email</span>
              <span *ngIf="f().Email.errors.email">Email không hợp lệ</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Số điện thoại</label>
            <input type="number" class="form-control" placeholder="Số điện thoại" formControlName="SoDT">
            <div class="error" *ngIf="f().SoDT.errors && (f().SoDT.touched || f().SoDT.dirty)">
              <span *ngIf="f().SoDT.errors.pattern">Số điện thoại chứa 10 số</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="Form_admin.invalid" >Cập nhật</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" #btnCloseModal (click)="CloseModalEditAdmin()">Đóng</button>
        </div>
      </form>
    </div>

  </div>
</div>