.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 30px;
  padding: 25px;

  .screen {
    color: black;
    background-color: orangered;
    border-radius: 30px;
    margin-bottom: 10px;

    h1 {
      text-align: center;
    }
  }

  .seats {
    padding: 20px;

    .veInfo {
      // border: solid 1px black;

      .tenGhes {
        color: orangered;
      }
      .giaGhes {
        color: orangered;
      }
    }
  }
}
