<section class="content_box">
  <h2 class="title">
    Thông tin admin
    <button class="btn btn-warning" data-toggle="modal" data-target="#fromAdmin" (click)="OpenModalEditAdmin()">
      Chỉnh sửa
    </button>
  </h2>
  <div class="content">
    <div class="row">
      <div class="avatar col-md-3">
          
      </div>
      <div class="info col-md-8">
          <p class="info_item">
            Tài khoản:
            <span>{{admin_info.TaiKhoan}}</span>
          </p>
          <p class="info_item">
            Họ tên:
            <span>{{admin_info.HoTen}}</span>
          </p>
          <p class="info_item">
            Số điện thoại:
            <span>{{admin_info.SoDT}}</span>
          </p>
          <p class="info_item">
            Email:
            <span>{{admin_info.Email}}</span>
          </p>
        </div>
    </div>
  </div>
</section>
<app-form-admin (EventCapNhatAdmin)="CapNhatAdmin($event)" [iAdmin]="admin_info"></app-form-admin>