@import '../../../../assets/scss/admin/helper/variable';
@import '../../../../assets/scss/admin/helper/mixin';
@import '../../../../assets/scss/admin/helper/extend';

.content_box{
    @extend %content_box;

    .title{
        button{
            float:right;
        }
    }

    .content{
        @extend %content;
        overflow: auto;

        .avatar{
            border: 3px solid $color-gray-0;
            margin:5px 20px;
            height:300px;
            padding:10px;

            img{
                width:100%;
                height:100%;
            }
        }

        .info{
            padding-left: 30px;
            
            .info_item{
                @include text($fs-0 + 3,$fw-600,$color-orange-1);
                margin:40px 5px;

                span{
                    @include text($fs-0 + 2, $fw-bold,$color-gray-4);
                    padding-left:5px;
                }
            }
        }
    }
}


@media screen and(max-width:768px){
    .content_box{
        padding:28px 5px;

        .content{
            padding:10px;
        }
    }
}

@media screen and(max-width:576px){
    .content_box{
        .content{
            padding:5px 3px;
        }
    }
}