<div class="header">
  <div class="header_li">
    <!-- list -->
    <ul>
      <li [innerHTML]="'Lịch chiếu'"></li>
      <li>Cụm rạp</li>
      <li>Tin tức</li>
      <li>Ứng dụng</li>
    </ul>
    <div class="login_signup">
      <!-- login/signup -->
      <ng-container *ngIf="userName!=null">
        <span>Chào {{ userName }}</span>
        <span style="color: brown; font-style: italic" (click)="logOut()">Đăng Xuất</span>
      </ng-container>
      <ng-container *ngIf="userName==null">
        <span (click)="logIn()">Đăng Nhập</span>
      </ng-container>
    </div>
  </div>


</div>
