<section class="login_page">
    <div class="login">
        <h3 class="title">admin login</h3>
        <div class="form">
            <form action="">
                <div class="field">
                    <input class="input" type="text" placeholder="username" />
                    <span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="field">
                    <input class="input" type="password" placeholder="password" />
                    <span>
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="btn_box">
                    <button class="button">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</section>