<section class="thong_ke">
    <div class="item users">
        <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
        <div class="number">
            {{countNguoiDung}}
            <span>Người Dùng</span>
        </div>
    </div>
    <div class="item movies">
        <div class="icon"><i class="fa fa-film" aria-hidden="true"></i></div>
        <div class="number">
            {{countPhim}}
            <span>Phim</span>
        </div>
    </div>
    <div class="item tickets">
        <div class="icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
        <div class="number">
            1000
            <span>Vé Đã Bán</span>
        </div>
    </div>
</section>
